.header {
    margin-top: 30px;
}

.main {
    margin-top: 35px;
}

.mainOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainOptions h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-1);
}

.mainRefresh {
    display: flex;
    gap: 10px;
    align-items: center;
}

.mainRefresh span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--text-3);
}

.refreshButton {
    cursor: pointer;
    background: var(--primary);
    display: flex;
    gap: 7px;
    align-items: center;
    border-radius: 10px;
    padding: 10px 14px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    color: var(--bg);
}
