.table {
    margin-top: 15px;
    width: 100%;
    border-radius: 14px;
    padding: 15px 0;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: var(--bg);
    font-family: var(--font-family);
    border-spacing: 0;
}

.table thead {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: var(--text-3);
}

.table thead td {
    padding: 10px 12px;
}

.table thead td:first-child {
    padding-left: 24px;
}

.table thead td:last-child {
    padding-right: 24px;
}

.table thead td:nth-of-type(2) {
    text-align: center;
}

.table thead td:nth-of-type(3) {
    text-align: center;
}

.table thead td:nth-of-type(4) {
    text-align: right;
}

.table tbody td {
    padding: 15px 12px;
    vertical-align: middle;
    border-top: 1px solid var(--border-table);
}

.table tbody td:first-child {
    padding-left: 24px;
}

.table tbody td:last-child {
    padding-right: 24px;
}

.table tbody td:nth-of-type(2) {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: var(--text-2);
    text-align: center;
}

.table tbody td:nth-of-type(3) {
    text-align: center;
}

.table tbody td:nth-of-type(4) {
    text-align: right;
}
